body {
  background: black;
  color: white;
}

.factCard {
  width: 90%;
  margin: 10px auto;
  padding: 5px 10px;
  background: rgb(43, 43, 43);
  border-radius: 5px;
}

.container {
  button {
    margin-right: 10px;
  }
}
